@import '../../styles/variables';
@import '../../styles/mixins.scss';

.navigation {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  background-color: $navigation-bg;
  z-index: 100;

  @media screen and (max-width: 800px) {
    position: sticky;
    bottom: 0;
    flex-direction: row;
    max-height: 50px;
    padding-top: 0;
    justify-content: center;

    .icon-button {
      height: auto;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 36px;

    @media screen and (max-width: 800px) {
      flex-direction: row;
      margin: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    padding: 4px 8px;
    cursor: pointer;

    @media screen and (max-width: 800px) {
      margin: 0;
    }

    &:hover {
      background-color: $icon-bg-hover;
    }

    span {
      @include spaced-small-text;
    }

    svg {
      width: 20px;
      height: 20px;
    }

     &:last-child {
       margin-top: auto;
       margin-bottom: 4px;

       @media screen and (max-width: 800px) {
         margin-top: 0;
         margin-left: auto;
       }

       span {
         padding: 12px 0;
         text-transform: initial;
       }
     }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4px;
    text-transform: capitalize;

    &--active {
      text-decoration: underline;
    }
  }
}