@import '../../styles/variables';

.book {
  &__menu,
  &__submenu {
    min-width: 120px;
    position: absolute;
    top: 30px;
    right: 5px;
    background-color: $white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }

  &__submenu {
    display: none;
    right: 120px;
    top: 0;
  }
}

.menu-item:hover > .book__submenu {
  display:block;
  position: absolute;
  max-height: 200px;
  overflow: scroll;
}