$black: #000000;
$white: #FFFFFF;
$orange-peel: #FD9809;
$limed-ash: #76786B;
$light-with-opacity: rgba(242, 241, 233, 0.5);
$light: rgba(242, 241, 233, 0.7);
$merino: #F2F1E9;
$timberwolf: #DAD9D4;
$grey-nickel: #C3C3BC;
$oasis: #FFECD0;
$tequila: #FFE5C1;
$mariner: #2263C6;

$body-text-color: $black;

$navigation-bg: $merino;

$vertical-border: $limed-ash;
$bottom-border: $orange-peel;

$book-bg-active: $merino;
$book-card-border: $merino;
$book-card-lines: $limed-ash;

$shelf-card-border:$merino;
$shelf-card-list: $merino;

$accent-bg-primary: $grey-nickel;

$menu-item-hover: $timberwolf;
$icon-bg-hover: $timberwolf;
$accent-bg-hover: $timberwolf;

$menu-item-active: $grey-nickel;
$icon-bg-active: $grey-nickel;
$accent-bg-active:$grey-nickel;

$button-cancel-bg-hover: $oasis;
$button-cancel-bg-active: $tequila;

$button-action-font:$orange-peel;
$button-cancel-font: $limed-ash;