$black: #000000;
$white: #FFFFFF;
$orange-peel: #FD9809;
$limed-ash: #76786B;
$merino: #F2F1E9;
$dawn-pink: #EBEBEB;
$timberwolf: #DAD9D4;
$grey-nickel: #C3C3BC;
$oasis: #FFECD0;
$tequila: #FFE5C1;
$mariner: #2263C6;
$fun-blue: #1C53A5;
$cobalt: #18488E;

$body-text-color: $limed-ash;

$navigation-bg: $merino;

$info-border: $limed-ash;

$book-bg-active: $merino;
$book-card-border: $merino;
$book-card-lines: $limed-ash;

$shelf-card-border:$merino;
$shelf-card-list: $dawn-pink;

$menu-item-hover: $timberwolf;
$icon-bg-hover: $timberwolf;
$menu-item-active: $grey-nickel;
$icon-bg-active: $grey-nickel;

$accent-bg-primary: $mariner;
$accent-bg-hover: $fun-blue;
$accent-bg-active: $cobalt;

$button-cancel-bg-hover: $oasis;
$button-cancel-bg-active: $tequila;
$button-action-font: $white;
$button-cancel-font: $merino;