@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


select {
  @include small-text;
  padding: 8px;
  margin-right: 8px;
  background-color: $light;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $icon-bg-hover;
  }
}