@import '../../styles/variables';
@import '../../styles/mixins.scss';

.bookcase-card {
  @include card-title;
  @include card-content;
  width: 150px;

  @media screen and (max-width: 800px) {
    margin-right: 4px;
  }

  p {
    @include spaced-small-text;
    margin: 0;
    padding: 8px;
  }
}
