@import '../../styles/variables';
@import '../../styles/mixins.scss';

.book-card {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-right: 12px;
  margin-bottom: 12px;
  background-color: $white;
  border: 1px solid $card-border
;

  @media screen and (max-width: 800px) {
    margin-right: 4px;
  }

  &--active {
    background-color: $book-bg-active;
  }

  &__container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  &__info {
    margin: 4px 0;
    padding: 0 4px;
  }

  &__image {
    display: flex;
    align-items: stretch;
    margin-left: 10px;
    min-width: 120px;

    img {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    max-height: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    overflow: scroll;
    border-bottom: 1px solid $book-card-lines;
  }

  &__author {
    @include small-text;
    max-height: 55px;
    padding-top: 8px;
    overflow: scroll;
    color: $body-text-color;
    border-bottom: 1px solid $book-card-lines;
  }
}
