@import '../../styles/variables';

.search {
  &__container {
    display: flex;
    flex-grow: 1;
    position: relative;
    min-width: 300px;
    max-width: 700px;

    &--active {
      background-color: $navigation-bg;
    }
  }

  &__form {
    display: flex;
    width: 100%;
  }

  &__form--active {
    padding: 10px;
    background-color: $navigation-bg;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }


  &__field {
    flex-grow: 1;
    height: 40px;
    border-width: thin;
    border-color: $merino;
    border-radius: 16px;
    padding: 8px 8px 8px 24px;
    background: url('../../assets/icons/search.svg') no-repeat 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: $white;
    }

    &:focus {
      background-color: $white;
    }
  }

  &__field--active{
    background-color: $white;
  }

  &__cancel {
    padding: 8px 8px;
    margin-left: 4px;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: $button-cancel-font;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: $button-cancel-bg-hover;
    }

    &:active {
      background-color: $button-cancel-bg-active;
    }
  }
}