@import '../../styles/variables';
@import '../../styles/mixins.scss';

.shelf {
  @include content-container;
  @include page-header;
  @include page-status;
  @include page-actions;
  @include page-data;
  @include page-cards;

  &__placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
     @include spaced-small-text;
    }

    img {
      width: 450px;
    }
  }

}